# App Config
APP_NAME=

# Gemini Config
GEMINI_AGENT=
GEMINI_API_KEY=

# OpenRouter Config
OPEN_ROUTER_MODEL=
OPEN_ROUTER_API_KEY=
OPEN_ROUTER_BASE_URL=

# Firebase Configuration
FIREBASE_PROJECT_NUMBER=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_APP_ID=
FIREBASE_API_KEY=